<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Снятие с депозита</title>
</head>
<body>
<p>Снятие с депозита</p>
<form th:object="${model}" th:action="@{/bills/getFromDeposit}" method="post">
    <input type="hidden" th:field="*{Id}">
    <label for="sum">Введите сумму снятия</label>
    <input id="sum" type="number" th:field="*{amount}">
    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" style="color: red;"></p>
    <br>
    <button type="submit">Снять</button>
</form>
<br>
<a href="/bills">К счетам</a>
</body>
</html>