<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Счета</title>
</head>
<body>
    <h3>Депозитные счета</h3>
    <p th:if="${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).DEPOSIT)==null}" th:text="${'Депозитных счетов нет'}"></p>
    <div th:if="${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).DEPOSIT)}">
        <table border="1">
            <th>№</th>
            <th>Баланс</th>
            <th>Операции</th>
            <tbody>
                <tr th:each="bill: ${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).DEPOSIT) }">
                    <td th:text="${bill.id}"></td>
                    <td th:text="${#numbers.formatInteger(bill.balance,3,'WHITESPACE')}"></td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <form th:action="@{/bills/deposit/put}" method="post">
                                            <input type="hidden" name="billId" th:value="${bill.id}">
                                            <button type="submit">Пополнить</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form th:action="@{/bills/deposit/get}" method="post">
                                            <input type="hidden" name="billId" th:value="${bill.id}">
                                            <button type="submit">Снять</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Дебетовые карточные счета</h3>
    <p th:if="${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).DEBIT_CART)==null}" th:text="${'Дебетовых карточных счетов нет'}"></p>
    <div th:if="${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).DEBIT_CART)}">
        <table border="1">
            <th>№</th>
            <th>Баланс</th>
            <tbody>
            <tr th:each="bill: ${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).DEBIT_CART) }">
                <td th:text="${bill.id}"></td>
                <td th:text="${#numbers.formatInteger(bill.balance,3,'WHITESPACE')}"></td>

            </tr>
            </tbody>
        </table>
    </div>

    <h3>Кредитные карточные счета</h3>
    <p th:if="${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).CREDIT_CART)==null}" th:text="${'Кредитных карточных счетов нет'}"></p>
    <div th:if="${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).CREDIT_CART)}">
        <table border="1">
            <th>№</th>
            <th>Баланс</th>
            <tbody>
            <tr th:each="bill: ${bills.get(T(com.bellintegrator.spring_mvc_homework.entities.Bill.Type).CREDIT_CART) }">
                <td th:text="${bill.id}"></td>
                <td th:text="${#numbers.formatInteger(bill.balance,3,'WHITESPACE')}"></td>

            </tr>
            </tbody>
        </table>
    </div>
<br>
<a th:href="@{/users/userAccount}">В личный кабинет</a>

</body>
</html>